<html>
  <head>
    <title>Welcome!</title>
<style>
.col {
  float: left;
  width: 28%;
  margin: 1%;
}
.col:nth-child(3n):after {
  content: "";
  clear: both;
  display: table;
}
img {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
</style>
  </head>
  <body>
    <h1>Pictures</h1>
    <ul>
    {% for photo in photos %}
    <li class="col">
      <img src="{{ photo.src.medium }}"></img>
    </li>
    {% endfor %}
    </ul>
  </body>
</html>
